export("bgcolor<-")
export("color<-")
export("colref<-")
export("dat<-")
export("digits<-")
export("elements<-")
export("footer<-")
export("height<-")
export("imgf<-")
export("includeRowNames<-")
export("level<-")
export("rowref<-")
export("sortable<-")
export("tdChangecount<-")
export("tdContent<-")
export("tdCreated<-")
export("tdCreator<-")
export("tdModified<-")
export("tdModifier<-")
export("tdTags<-")
export("tdTitle<-")
export("title<-")
export("type<-")
export("width<-")
export(bgcolor)
export(color)
export(colref)
export(dat)
export(digits)
export(elements)
export(footer)
export(height)
export(imgf)
export(includeRowNames)
export(level)
export(newEmptyWiki)
export(newTiddler)
export(rowref)
export(sortable)
export(tdChangecount)
export(tdContent)
export(tdCreated)
export(tdCreator)
export(tdModified)
export(tdModifier)
export(tdTags)
export(tdTitle)
export(twImage)
export(twLink)
export(twList)
export(twTable)
export(type)
export(width)
export(writeTags)
export(writeTiddlers)
exportClasses(tiddler)
exportClasses(twImage)
exportClasses(twLink)
exportClasses(twList)
exportClasses(twTable)
exportMethods("[")
exportMethods("align<-")
exportMethods("label<-")
exportMethods("ref<-")
exportMethods(align)
exportMethods(dim)
exportMethods(initialize)
exportMethods(label)
exportMethods(ref)
exportMethods(title)
exportMethods(wikify)
